<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_musichub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_vertical"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_musichub_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_MusicHub">
        <activity
            android:name=".Actividad_Busqueda"
            android:exported="false" />
        <activity
            android:name=".Actividad_MusicPlayer"
            android:exported="false" />
        <activity
            android:name=".Actividad_Registro"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Actividad_OlvidasteContrasena"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Actividad_ReproductorPrincipal"
            android:exported="false" />
        <activity
            android:name=".Actividad_Login"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>